@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; 
  color: #212121;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
  line-height: 1.3;
}
